.title{
  font-size: 1.5rem;
}
.btnAndSearch{
  display:flex;
  justify-content: space-between;
}
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(80%, -150%);
  width: 30rem;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.5);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
